
/* styles.css */


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: 'Bangers', cursive;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
    
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 20px;
}
